@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Kufi+Arabic&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
body {
    margin: 1rem;
}
.controls {
    background: #F1E3C2;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}
input,textarea,button {
    background: #212641;
    color: #E3DBD9;
    padding: .5rem;    
    outline: none;
    border: 1px solid #212641;
    border-radius: 10px;
}
textarea {
    width: 100%;
    height: 100px;
    background: #c8d1ff;
    color: #212641;

}
input{
    width: 60px;
}
button {
    cursor: pointer;
}
table.data-table {
    margin: 0 auto;
}
.rtl {
    direction: rtl;
}
td {
    width: 45px;
    height: 45px;
    font-family: 'Noto Kufi Arabic',Jameel Noori Nastaleeq,Tahoma;
    font-size: x-small;
    background: #f4f6ff;
    border: 1px solid #dce3ff;
    border-radius: 8px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
td span {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: xx-small;
}
td.active {
    background: #f1e3c2;
    color: #212641;
}